<!-- views/partials/header.ejs -->
<nav align="center">
     <div class="alert alert-info" role="alert" >
     	<span>员工工资管理系统</span> 
     	<a  href="/logout" style="display: none">注销</a> 
     </div>
</nav>