<!-- views/partials/footer.ejs -->

<div id="footer" align='center' style='margin-top:30px'>
	<nav class="navbar-fixed-bottom alert-info" style="padding-top: 10px">
	    © 2016.12 BY GHB 
	</nav>
</div>